body {
}

.login-box {
    background-color: gainsboro;
    border-radius: 2px;
    width: 400px;
    margin: 0 auto;
}

.login-box h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px
}

.button-area {
    padding-bottom: 30px;
}
.button-area button {
    width: 100px;
    height: 25px;
}

.email-area, .password-area, .button-area {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.email-area input, .password-area input {
    width: 100%;
    max-width: none;
}
.email-area label, .password-area label {
    font-size: 14px;
    width: 100%;
    display: block;
    margin-bottom: -4px;
}
