<div class="header">
    <div class="container">
        <a class="headername" href="#/">
            <h1>CSGO Matches</h1>
        </a>
        <a href="#login" class="login-btn">Log in</a>
    </div>
</div>
<div class="content">
    <div class="container">
        <div ng-view></div>
    </div>
</div>
<div class="footer">
    <h2>CSGOMatches 2016</h2>
</div>

    
