<div class="row" ng-app="matchesapp" ng-controller="homeController">
    <div class="col-md-4">
        <p>Sisse logitud kasutaja: <span>{{user}}</span></p>
        <p>Values: <span>{{values}}</span></p>
    </div>
</div>